<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div> 
  <header class="w3-container">
    <div class="page-title">Welcome to Lionrock Tournament</div>
  </header>
  <div class="w3-card-4 w3-container page-content" style="padding:10px; color:#274949">
    <p>
      Manage all your tournaments in one place efficiently whatever their structures and matches formats.<br>
    </p>
    <p *ngIf="!authService.isLoggedIn">
      <a routerLink="/sign-up">Become a member</a> to start the journey.<br> 
    </p>
  </div>
</div>
