

<div class="container">
  <div class="page-title">User Profile</div>
  <br>
  <form class="profile-form" [formGroup]="signupForm" (ngSubmit)="saveprofile()" >
    <mat-form-field class="profile-full-width" >
      <mat-label>User Name</mat-label> 
      <input matInput formControlName="username" readonly />
    </mat-form-field>
    <mat-form-field class="profile-full-width" >
      <mat-label>Name</mat-label> 
      <input matInput formControlName="display_name"  />
    </mat-form-field>
    <mat-form-field class="profile-full-width" >
      <mat-label>Email</mat-label> 
      <input matInput formControlName="email"  />
    </mat-form-field>

    <button
        type="submit"    
        mat-raised-button
        color="primary"
      >
      Save
    </button>
  </form>
</div>
