<div>
  <div *ngIf="show_player_list; else players__show_round_tabs">
    <div *ngIf="tn_info.players.length > 0; else players__no_one_registered">
      <p>{{tn_info.players.length}} registered player(s):</p>
      <table class="full-width" cellspacing="0">
        <ng-container *ngFor="let row of (tn_info.players | splitColumns:2); index as r">
          <tr>
            <ng-container *ngFor="let user_id of row; index as c">
              <td style="width:40%">
                <div *ngIf="user_id; else players__no_one_registered">
                  <!-- {{'(' + (r * 2 + c + 1) + ') '}} -->
                  <div [ngClass]="getUserNameCssClasses(user_id)">{{getUserName(user_id)}}</div>
                </div>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </table>
    </div>
    <ng-template #players__no_one_registered>
      <p>No player has registered.</p>
    </ng-template>
  </div>
  <ng-template #players__show_round_tabs>
    <div [hidden]="config.hidden.includes('players')">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
      </mat-tab-group>
    </div>
  </ng-template>
</div>
