<div>
  <form class="tn-detail-form">

    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('name')" >
      <mat-label>Name</mat-label>
      <input matInput name="name" [(ngModel)]="tn_info.name" [readonly]="config.readonly.includes('name')" />
    </mat-form-field>

    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('description')" >
      <mat-label>Description</mat-label>
      <input matInput name="description" [(ngModel)]="tn_info.description" [readonly]="config.readonly.includes('description')" />
    </mat-form-field>
    
    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('owner')" >
      <mat-label>Owner</mat-label>
      <input matInput name="owner" [value]="getUserName(tn_info.owner)" readonly />
    </mat-form-field>

    <div *ngIf="config.readonly.includes('size') || tn_info.status != 'draft'; else size__show_radio_buttons">
      <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('size')" >
        <mat-label>Size </mat-label>
        <input matInput name="size" [(ngModel)]="tn_info.size" [readonly]="true" />
      </mat-form-field>
    </div>

    <ng-template #size__show_radio_buttons>
      <div [hidden]="config.hidden.includes('size')">
        <mat-label>Size </mat-label>
        <mat-radio-group name="tn_info__size" [(ngModel)]="tn_info.size" >
          <mat-radio-button class="tn-info--size" [value]="4">4</mat-radio-button>
          <mat-radio-button class="tn-info--size" [value]="8">8</mat-radio-button>
          <mat-radio-button class="tn-info--size" [value]="16">16</mat-radio-button>
        </mat-radio-group>
      </div>
    </ng-template>
    <!--
    <table class="tn-detail-full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('start_date')" >
          <mat-label>Start Date</mat-label>
          <input matInput name="start_date" [(ngModel)]="tn_info.start_date" [readonly]="config.readonly.includes('start_date')" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('end_date')" >
          <mat-label>End Date</mat-label>
          <input matInput name="end_date" [(ngModel)]="tn_info.end_date" [readonly]="config.readonly.includes('end_date')" />
        </mat-form-field> 
      </td>
    </tr></table>
    -->

    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('status')" >
      <mat-label>Status</mat-label>
      <input matInput name="status" [value]="getStatusDisplay()" readonly />
    </mat-form-field>
  </form>

  <!-- <button mat-raised-button color="accent" (click)="onTestButton()">Test: print tn_info</button> -->

  <div *ngIf="tn_info.status != 'draft'">
    <div [hidden]="config.hidden.includes('players')">
      <app-bout-grid-small 
        [config]="config" 
        [show_player_list]="isShowPlayerList()"
        [tn_info]="tn_info"
        [page_type]="page_type"
        [players_info]="players_info"
        width="90%">
      </app-bout-grid-small>
    </div>
  </div>
</div>
