<div>
  <form class="tn-detail-form">

    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('name')" >
      <mat-label>Name</mat-label>
      <input matInput name="name" [(ngModel)]="tn_info.name" [readonly]="config.readonly.includes('name')" />
    </mat-form-field>

    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('description')" >
      <mat-label>Description</mat-label>
      <input matInput name="description" [(ngModel)]="tn_info.description" [readonly]="config.readonly.includes('description')" />
    </mat-form-field>

    <mat-label>Size </mat-label>
    <div *ngIf="config.readonly.includes('size'); else size__show_radio_buttons">
      <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('size')" >
        <input matInput name="size" [(ngModel)]="tn_info.size" [readonly]="true" />
      </mat-form-field>
    </div>
    <ng-template #size__show_radio_buttons>
      <mat-radio-group name="tn_info__size" [(ngModel)]="tn_info.size" >
        <mat-radio-button class="tn-info--size" [value]="4">4</mat-radio-button>
        <mat-radio-button class="tn-info--size" [value]="8">8</mat-radio-button>
        <mat-radio-button class="tn-info--size" [value]="16">16</mat-radio-button>
      </mat-radio-group>
    </ng-template>
    
    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('start_date')" >
      <mat-label>Start Date</mat-label>
      <input matInput name="start_date" [(ngModel)]="tn_info.start_date" [readonly]="config.readonly.includes('start_date')" />
    </mat-form-field>

    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('end_date')" >
      <mat-label>End Date</mat-label>
      <input matInput name="end_date" [(ngModel)]="tn_info.end_date" [readonly]="config.readonly.includes('end_date')" />
    </mat-form-field>

    <mat-form-field class="tn-detail-full-width" [hidden]="config.hidden.includes('status')" >
      <mat-label>Status</mat-label>
      <input matInput name="status" [(ngModel)]="tn_info.status" [readonly]="config.readonly.includes('status')" />
    </mat-form-field>
  </form>

  <button mat-raised-button color="accent" (click)="onTestButton()">Test: print tn_info</button>

  <!--<app-bout-grid-small [hidden]="config.hidden.includes('players')" [is_readonly]="config.readonly.includes('players')" ></app-bout-grid-small>-->
  <app-bout-grid-small></app-bout-grid-small>
</div>
