.button-row {
    display: table-cell;
    max-width: 600px;
}

.toggle-buttons {
    color: black;
    margin: 0px 5px;
    border-radius: 18px;
    padding: 2px 2px;
}
// .toggle-buttons:hover {
//     background-color: green;
// }
.toggle-buttons:checked {
    background-color: red;
}
