/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-title {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    margin-bottom: 20px;
}

.page-content {
    font-family: 'Candara', sans-serif;
    font-size: 20px;
    text-indent: 50px;
    margin: auto;
    max-width: 2000px;
}

.username {
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding: 8px 10px;
    margin: 4px 20px;
    border-radius: 20px;
    border-color: black;
    border: 1px solid black;
    background-color: LightCyan;
}

.username-self {
    background-color: MediumSlateBlue;
}

.username-empty {
    background-color: lightgray;
}

.username-clickable {
    border-color: rgb(69, 207, 41);
    border: 3px solid black;
    box-shadow: 6px 6px rgba(128, 128, 128, 0.548);
}
